# WIFI - Can't have spaces (sorry)
PORTAL_SSID="Earth_Defenders_Toolkit"
# MAPEO BRIDGE
MAPEO_PROJECT_KEY=af43cbdb6827d3ddc5b39b20df174bf5c3e44d9bbcdccfe034af090440cebf69
MAPEO_TERRASTORIES_TYPE=terrastories
MAPEO_STORAGE_PATH=/usr/src/output
# Minio & Filebrowser
ADMIN_LOGIN=demo
ADMIN_PASSWORD=demo1234
LOCALE="en"
# Syncthing
SYNC_SOURCE_ID=7MAA2AW-FBC5CFE-F32BALW-LKLZEBE-VSPN6XG-4PYESBH-NAZ42Y5-RQYULAL
SYNC_SOURCE_NAME=EDT-Cloud
SYNC_CRAWLS_ID=6qegg-xuksh
SYNC_CRAWLS_NAME=Offline-Websites
SYNC_FDROID_ID=zwozu-ajxlu
SYNC_FDROID_NAME=FDROID-edt
SYNC_MAPEO_ID=atzye-79v6o
SYNC_MAPEO_NAME=Mapeo
SYNC_INSTALLERS_ID=gmyij-7gktt
SYNC_INSTALLERS_NAME=INSTALLERS-edt
# Terrastories ENV
MAPBOX_STYLE=mapbox://styles/mapbox/light-v10
MAPBOX_ACCESS_TOKEN=your pk token here
