# General
DIR=~/data
EMAIL=info@earthdefenderstoolkit.com
PGID=1000
PUID=1000
# F-DROID
DOMAIN_FDROID=repo.kitdt.com
# FILE BROWSER
DOMAIN_FILEBROWSER=files.kitdt.com
# SSB-ROOM
ROOM_MODE=restricted
ROOM_ADMIN="@2RNGJafZtMHzd76gyvqH6EJiK7kBnXeak5mBWzoO/iU=.ed25519"
DOMAIN_ROOM=ssb.kitdt.com
# MINIO
DOMAIN_MINIO=minio.kitdt.com
ADMIN_MINIO=admin
PASSWORD_MINIO=12345678
# SYNCTHING
DOMAIN_SYNCTHING=syncthing.kitdt.com
