# WIFI - Can't have spaces (sorry)
PORTAL_SSID="Earth_Defenders_Toolkit"
PORTAL_FILE=https://github.com/digidem/edt-offline/releases/download/v0.0.1-beta.1/portal.tar.gz
INTERNET=true
# SSB
SSB_ROOM="net:ssb.earthdefenderstoolkit.com:8007~shs:59xbTc9KssSmTf+BSMoq66iioQf5Wq5zFhgHQzdOsP8="
SSB_PUB="net:pub.freesocial.co:8008~shs:ofYKOy2p9wsaxV73GqgOyh6C6nRGFM5FyciQyxwBd6A="
# Minio & Filebrowser
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin123
LOCALE="pt-br"
# Syncthing
SYNC_SOURCE_ID=7MAA2AW-FBC5CFE-F32BALW-LKLZEBE-VSPN6XG-4PYESBH-NAZ42Y5-RQYULAL
SYNC_SOURCE_NAME=EDT-Cloud
SYNC_KIWIX_ID=ceeqg-tbhpt
SYNC_KIWIX_NAME=ZIM-edt-pt
SYNC_FDROID_ID=zwozu-ajxlu
SYNC_FDROID_NAME=FDROID-edt
SYNC_MAPEO_ID=atzye-79v6o
SYNC_MAPEO_NAME=Mapeo
SYNC_INSTALLERS_ID=gmyij-7gktt
SYNC_INSTALLERS_NAME=INSTALLERS-edt
# Terrastories ENV
NGINX_PORT=3000
MAPBOX_STYLE=mapbox://styles/mapbox/light-v10
MAPBOX_ACCESS_TOKEN=your pk token here
DB_USER_PASSWORD=postgres
DB_HOST=db
# This can ONLY EITHER BE "local" or "amazon" - ALL OTHERS WILL BREAK THE APP
# Also please be careful when using Amazon - you should only do this when necessary (i.e. the Heroku demo app)
ACTIVE_STORAGE_SRC="local"
AWS_REGION="us-east-2"
AWS_BUCKET_NAME="terrastories-demo"
# Any value assigned to these 2 last ones should work
# (Keys added as a workaround since `docker-compose exec web bin/setup` wouldnt work without them)
AWS_ACCESS_KEY="terrastories"
AWS_SECRET_ACCESS_KEY="terrastories"
# Remove the hash symbol from this next line to set Terrastories to use a local (offline) map server
# USE_LOCAL_MAP_SERVER="true"
